<ion-content>
  <div class="logo-ekobike-in">    
    <img src="assets/img/logo-ekobike.png">
</div>
  <h2 class="title-section"><i class="icon-linegraph"></i>Histórico</h2>
  <div class="ui form date-historic">
    <!-- <div>
      <div class="field">
        <label>Inicio</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input">
            <input type="text" class="styleDate datetime" placeholder="18 Ene 2020">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Fin</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input">
            <input type="text" class="styleDate datetime" placeholder="20 Ene 2020">
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="ui internally celled grid historic">
    <div class="row">
      <div class="six wide column">
        <h4>Kilometros Recorridos</h4>
      </div>
      <div class="ten wide column">
        <div class="ui violet progress">
          <div class="bar" [ngStyle]="{'transition-duration': '300ms', 'display': 'block', 'width': user.km_total+'%', 'height': '20px'}"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h4>CO2 Reducido</h4>
      </div>
      <div class="ten wide column">
        <div class="ui yellow progress" data-percent="60">
          <div class="bar" [ngStyle]="{'transition-duration': '300ms', 'display': 'block', 'width': user.co2_total+'%', 'height': '20px'}"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h4>Consumo de Calorías</h4>
      </div>
      <div class="ten wide column">
        <div class="ui orange progress">
          <div class="bar" [ngStyle]="{'transition-duration': '300ms', 'display': 'block', 'width': user.cal_total+'%', 'height': '20px'}"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="six wide column">
        <h4>Tiempo Recorrido</h4>
      </div>
      <div class="ten wide column">
        <div class="ui blue progress">
          <div class="bar" [ngStyle]="{'transition-duration': '300ms', 'display': 'block', 'width': user.tiempo_total+'%', 'height': '20px'}"></div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="six wide column">
        <h4>Velocidad Máxima</h4>
      </div>
      <div class="ten wide column">
        <div class="ui white progress">
          <div class="bar" style="transition-duration: 300ms; display: block; width: 60%; height: 20px;"></div>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>