.logo-ekobike-in {
    position: unset;
    margin-bottom: 30px;
    margin-top: 20px;
}
.content-map{
    height: 104%;
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 340px;
    width: 100%;
}
.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
    height: 34%;
    background: #001434;
}
.esri-widget--button {
    background-color: #f9b410 !important;
    color: #001434 !important;
}
.esri-view .esri-directions {
    position: fixed;
    right: 15px;
}

.esri-view .esri-component.esri-attribution {
    position: fixed;
}
.esri-search__suggestions-list > li {
    padding: 1em;
}
.play{
    height: 40px;
    width: 40px;
}
