node_modules
.env
android
ios
www
e2e
resourses
scripts
src
angular.json
browserslist
capacitor.config.json
ionic.config.json
karma.conf.js
tsconfig.app.json
tsconfig.spec.json
tslint.json
tsconfig.json