<ion-header>
  <ion-toolbar>
    <ion-buttons slot>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-publibike-in">
    <img src="assets/img/logo-ekobike.png">
  </div>
  <div class="title-publibike">
    <h2>CAMPAÑAS</h2>
  </div>
  <h3 class="title-campaing">
    Tus Campañas
  </h3>
  <div class="row">
    <ion-slides [options]="slideOps" *ngIf="campaings.length">
      <ion-slide *ngFor="let campaing of campaings">
        <div class="column campaing">
          <div class="state-campaing active">
            <h3>{{campaing.estado}}</h3>
          </div>
          <img src="{{campaing.imagen}}">
          <div class="campaing-info">
            <h4>Campaña <small>{{campaing.nombre}}</small></h4>
            <h4>Pago por Km <small>{{campaing.pago_km}}</small></h4>
            <h4>Zonas <small>{{campaing.zona}}</small></h4>
            <h4>Duración <small>{{campaing.fecha_inicio}} - {{campaing.fecha_final}}</small></h4>
            <div *ngIf="campaing.estado=='Activo'">
              <ion-button color="transparent" full outline class="start-campaing"
                (click)="goToStartCampaing(campaing.id)">Iniciar
                Campaña</ion-button>
            </div>
            <div *ngIf="campaing.estado=='No_activo'">
              <ion-button disabled="true" color="transparent" full outline class="start-campaing"
                (click)="goToStartCampaing(campaing.id)">Iniciar
                Campaña</ion-button>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div *ngIf="campaings.length===0">
      <h4 class="campaing-info">No tienes campañas registradas</h4>
    </div>
    <h3 class="title-campaing">Campañas disponibles</h3>
    <div *ngIf="companies.length">
      <div *ngFor="let company of companies">
        <div class="row">
          <h3 class="title-campaing">{{company.nombre}}</h3>
          <ion-slides [options]="slideOps" *ngIf="company.campanas.length">
            <ion-slide *ngFor="let campaing of company.campanas">
              <div class="column campaing">
                <div class="state-campaing active">
                  <h3>{{campaing.estado}}</h3>
                </div>
                <img src="{{campaing.imagen}}">
                <div class="campaing-info">
                  <h4>Campaña <small>{{campaing.nombre}}</small></h4>
                  <h4>Pago por Km <small>{{campaing.pago_km}}</small></h4>
                  <h4>Zonas <small>{{campaing.zona}}</small></h4>
                  <h4>Duración <small>{{campaing.fecha_inicio}} - {{campaing.fecha_final}}</small></h4>
                  <div *ngIf="campaing.estado=='Activo'">
                    <ion-button color="transparent" full outline class="start-campaing"
                      (click)="goToSubscribeCampaing(campaing.id)">
                      Suscribir Campaña</ion-button>
                  </div>
                  <div *ngIf="campaing.estado=='No_activo'">
                    <ion-button disabled="true" color="transparent" full outline class="start-campaing"
                      (click)="goToSubscribeCampaing(campaing.id)">
                      Suscribir Campaña</ion-button>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
          <div *ngIf="company.campanas.length===0">
            <h4 class="campaing-info">No existen campañas registradas</h4>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="companies.length===0">
      <h4 class="campaing-info">Aun no hay empresas registradas</h4>
    </div>
  </div>
</ion-content>