<div class="ui one column grid content user-data">
	<div class="column">
		<div class="inside-column">
			<div class="row">
				<div class="ui selection dropdown">
					<input type="hidden" name="gender">
					<i class="dropdown icon"></i>
					<div class="default text">Seleccione la empresa que desea consultar</div>
					<div class="menu">
						<div class="item" data-value="5">Toyota</div>
						<div class="item" data-value="4">Homecenter</div>
						<div class="item" data-value="3">Jumbo</div>
						<div class="item" data-value="2">Banco de Bogotá</div>
						<div class="item" data-value="1">Bancolombia</div>
						<div class="item" data-value="0">Titan Plaza</div>
					</div>
				</div>
				<div style="margin: 20px 0;">
					<h3>Resultados para: Bancolombia</h3>
				</div>
				<div class="row">
					<div class="column campaing">
						<div class="state-campaing warning-date">
							<h3>Terminará Pronto</h3>
						</div>
						<img class="logo-campaing" src="/assets/img/logo-bancolombia.jpg">
						<div class="campaing-info">
							<h4>Campaña <small>"Conocer tu turno virtual"</small></h4>
							<h4>Pago por Km <small>$2.000</small></h4>
							<h4>Zonas <small>Calle 72 - Calle 93</small></h4>
							<h4 class="warning-date">Duración <small>15/01/20220 - 24/01/2020</small></h4>
							<h4>Cupos Disponibles <small>10 Ciclistas</small></h4>
						</div>
					</div>
					<div class="column campaing">
						<div class="state-campaing warning-quotas">
							<h3>Pocos Cupos</h3>
						</div>
						<img class="logo-campaing" src="/assets/img/logo-bancolombia.jpg">
						<div class="campaing-info">
							<h4>Campaña <small>"Un Ambiente Grandioso"</small></h4>
							<h4>Pago por Km <small>$1.500</small></h4>
							<h4>Zonas <small>Calle 80 - Calle 72</small></h4>
							<h4>Duración <small>15/01/20220 - 24/01/2020</small></h4>
							<h4 class="warning-quotas">Cupos Disponibles <small>10 Ciclistas</small></h4>
						</div>
					</div>
					<div class="column campaing">
						<div class="state-campaing active">
							<h3>Activa</h3>
						</div>
						<img class="logo-campaing" src="/assets/img/logo-bancolombia.jpg">
						<div class="campaing-info">
							<h4>Campaña <small>"Ahora el finde es más largo"</small></h4>
							<h4>Pago por Km <small>$1.500</small></h4>
							<h4>Zonas <small>Calle 80 - Calle 72</small></h4>
							<h4>Duración <small>15/01/20220 - 24/01/2020</small></h4>
							<h4>Cupos Disponibles <small>10 Ciclistas</small></h4>
						</div>
					</div>
					<div class="column campaing">
						<div class="state-campaing warning-quotas">
							<h3>Pocos Cupos</h3>
						</div>
						<img class="logo-campaing" src="/assets/img/logo-bancolombia.jpg">
						<div class="campaing-info">
							<h4>Campaña <small>“Nuevo Corolla 2020” </small></h4>
							<h4>Pago por Km <small>$1.500</small></h4>
							<h4>Zonas <small>Calle 100 - Calle 116</small></h4>
							<h4>Duración <small>15/01/20220 - 24/01/2020</small></h4>
							<h4 class="warning-quotas">Cupos Disponibles <small>2 Ciclistas</small></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>