<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EkoBike - En bici creamos un mundo mejor</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/ekobike-admin.css">
    <script src="/assets/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style type="text/css">
        body {
            background-color: #14805e;
        }

        body>.grid {
            height: 100%;
        }

        .image img {
            margin-top: -200px;
            width: 150px !important;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            usuario: {
                                identifier: 'usuario',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your user'
                                    },
                                    {
                                        type: 'number',
                                        prompt: 'Please enter a valid user'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                    ;
            })
            ;
    </script>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="/assets/img/logo-ekobike.png" class="image">
            </h2>
            {{#with error}}
                <div class="ui red inverted segment" role="alert">
                    {{this}}
                </div>
            {{/with}}
            <form id="form" method="POST" class="ui large form" action="/api/admin/login">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input id="usuario" type="number" name="usuario" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" type="password" name="password" placeholder="Contraseña">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large yellow submit button">Iniciar Sesión</button>
                </div>

                <div class="ui error message"></div>

            </form>
        </div>
    </div>

</body>

</html>