<form class="ui form" style="margin: 0px 30px 30px 30px " method="POST" action="/api/bienestar/admin/createadmin">
    <h4 class="ui dividing header">Datos Principales</h4>
    <div class="field">
        <label>Usuario</label>
        <div class="field">
            <input type="text" name="usuario" placeholder="Documento de identidad">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Contraseña</label>
            <input type="text" name="password" placeholder="Digite una Constraseña">
        </div>
        <div class="field">
            <label>Tipo de administrador</label>
            <select name="tipo" id="tipo"class="ui fluid dropdown">
                <option value="">Seleccione</option>
                <option value="super">Administrador General</option>
                <option value="empresa">Administrador Empresa</option>
            </select>
        </div>
    </div>
    <div id="empresas" class="field">
        <label>Empresa</label>
        <select name="empresaId" class="ui fluid dropdown">
            <option value="">Seleccione</option>
            {{#each empresas}}
            <option value="{{this._id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
    </div>
    {{#with success}}
    <div class="ui green inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    {{#with error}}
    <div class="ui red inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    <button type="submit" class="ui fluid large yellow submit button">Registrar</button>
</form>