<div class="ui two column grid content">
    <form class="ui form" method="POST" action="/api/admin/empresa/{{empresa._id}}/createusuario">
        <h4 class="ui dividing header">Datos Principales</h4>
        <div class="field">
            <label>Nombre Completo</label>
            <input type="text" name="nombre" placeholder="Nombre Apellido">
        </div>
        <div class="field">
            <label>Doc. de Identificación</label>
            <input type="number" name="usuario" placeholder="Número de identificación">
        </div>
        <div class="field">
            <label>Correo </label>
            <input type="email" name="email" placeholder="Correo electrónico">
        </div>
        <h4 class="ui dividing header">Información Adicional</h4>
        <div class="two fields">
            <div class="field">
                <label>Peso (kg) </label>
                <input type="number" name="peso" placeholder="Peso en Kilogramos">
            </div>
            <div class="field">
                <label>Estatura (Cm)</label>
                <input type="number" name="estatura" placeholder="Estatura en Centímetros">
            </div>
        </div>
        {{#with success}}
        <div class="ui green inverted segment" role="alert">
            {{this}}
        </div>
        {{/with}}
        {{#with error}}
        <div class="ui red inverted segment" role="alert">
            {{this}}
        </div>
        {{/with}}
        <button type="submit" class="ui fluid large yellow submit button">Registrar</button>
    </form>
</div>