<form enctype="multipart/form-data" class="ui form" style="margin: 0px 30px 30px 30px " method="POST"
    action="/api/admin/createcampaign">
    <h4 class="ui dividing header">Datos Principales</h4>
    <div id="empresas" class="field">
        <label>Empresa</label>
        <select name="empresaId" class="ui fluid dropdown">
            <option value="">Seleccione</option>
            {{#each empresas}}
            <option value="{{this._id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
    </div>
    <div id="tipoReto" class="field">
        <label>Tipo Reto</label>
        <select name="retoId" class="ui fluid dropdown" id="reto">
            <option value="">Seleccione</option>
            {{!-- {{#each empresas}} --}}
            <option value="1">Pago por kilómetro</option>
            <option value="2">Ranking</option>
            <option value="3">Puntos</option>
            <option value="4">PCumplimiento de objetivos</option>
            {{!-- {{/each}} --}}
        </select>
    </div>
    <div id="tipoEstad" class="field">
        <label>Tipo Estadistica</label>
        <select name="retoId" class="ui fluid dropdown" id="estadistica">
            <option value="">Seleccione</option>
            {{!-- {{#each empresas}} --}}
            <option value="1">Kilómetros recorridos</option>
            <option value="2">Calorias quemadas</option>
            <option value="2">Co2 Reducido</option>
            <option value="2">Viajes Realizados</option>
            {{!-- {{/each}} --}}
        </select>
    </div>
    <div class="field">
        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Nombre" required>
    </div>
    <div class="field">
        <label>Imagen (PNG)</label>
        <input type="file" name="imagen" id="imagen" required>
    </div>
    {{!-- <div class="field">
        <label>Zona: </label>
        <input type="text" name="zona" placeholder="Especifique la zona" required>
    </div> --}}
    <div class="field">
        <label>Pago por Km: </label>
        <input type="text" name="pago_km" placeholder="Especifique el valor del kilometro">
    </div>
    <div class="field">
        <label>Fecha Inicio: </label>
        <input type="date" name="fecha_inicio">
    </div>
    <div class="field">
        <label>Fecha Final: </label>
        <input type="date" name="fecha_final">
    </div>
    <div class="field">
        <label>Estado</label>
        <select name="estado" class="ui fluid dropdown">
            <option value="">Seleccione</option>
            <option value="Activo">Activo</option>
            <option value="No_activo">No activo</option>
        </select>
    </div>
    <div class="field">
        <label>Cupos: </label>
        <input type="number" name="cupos" id="cupos" placeholder="Ingrese cupo máximo de usuarios">
    </div>
    <div class="ui checkbox">
        <input type="checkbox" name="example" id="ilimit">
        <label>Ilimitado</label>
    </div>
    <br><br>
    <div class="field" id="ganadores" >
        <label>Ganadores: </label>
        <input type="number" name="ganadores" placeholder="Ingrese el número de ganadores">
    </div>
    <div class="field" id="presupuesto">
        <label>Presupuesto: </label>
        <input type="number" name="presupuesto" placeholder="Ingrese el presupuesto de la campaña">
    </div>
    <div class="field">
        <label>Descripción del premio: </label>
        <textarea name="premio" placeholder="Ingrese la descripción del premio"></textarea>
    </div>
    {{#with success}}
    <div class="ui green inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    {{#with error}}
    <div class="ui red inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    <button type="submit" class="ui fluid large yellow submit button">Registrar</button>
    <br>
</form>

<script>
   $('#ganadores').hide();
   $('#presupuesto').hide();
   $('#tipoEstad').hide();
   
    $('input[type=checkbox]').on('change', function () {
        if ($(this).is(':checked')) {
            $('#cupos').attr('disabled', true);
        } else {
            $('#cupos').attr('disabled', false);
        }
    })

    $('#reto').change(function(){
        var valor = $(this).val();
        if(valor == 2){
            $('#ganadores').show(); 
        }else{
            $('#ganadores').hide();
        }
    })

    $('#reto').change(function(){
        var valor = $(this).val();
        if(valor == 1){
            $('#presupuesto').show(); 
        }else{
            $('#presupuesto').hide();
        }
    })
     $('#reto').change(function(){
        var valor = $(this).val();
        if(valor == 3 || reto == 4){
            $('#tipoEstad').show(); 
        }else{
            $('#tipoEstad').hide();
        }
    })
</script>