<form class="ui form" style="margin: 0px 30px 30px 30px " method="POST" action="/api/admin/createcompany">
    <h4 class="ui dividing header">Datos Principales</h4>
    <div class="field">
        <label>Nombre</label>
        <div class="two fields">
            <div class="field">
                <input type="text" name="nombre" placeholder="Nombre de la empresa">
            </div>
        </div>
    </div>
    <h4 class="ui dividing header">Información de contacto</h4>
    <div class="two fields">
        <div class="field">
            <label>Correo </label>
            <input type="email" name="email" placeholder="Correo electronico de contacto">
        </div>
        <div class="field">
            <label>Número</label>
            <input type="number" name="num_contacto" placeholder="Número de contacto">
        </div>
    </div>
    {{#with success}}
    <div class="ui green inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    {{#with error}}
    <div class="ui red inverted segment" role="alert">
        {{this}}
    </div>
    {{/with}}
    <button type="submit" class="ui fluid large yellow submit button">Registrar</button>
</form>