img {
    width: 30%;
    text-align: center;
}

ion-toolbar {
    background-color: #ffffff !important;
}
ion-item {
    color: #ffffff;
}
ion-icon {
    padding-right: 10px;
}


ion-buttons {
    background-color: #000000;
}
