<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon class="icon-profile-male"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="recognitions">
      <ion-icon class="icon-trophy"></ion-icon>
    </ion-tab-button>
    <ion-tab-button  (click)="showMap()">
      <!-- <ion-icon name="square"></ion-icon> -->
      <img src="assets/img/button-start-29.png">
    </ion-tab-button>
    <ion-tab-button tab="record">
      <ion-icon class="icon-linegraph"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="rute">
      <ion-icon class="icon-map"></ion-icon>
    </ion-tab-button>    

  </ion-tab-bar>
</ion-tabs>
