<ion-content>
  <div class="logo-ekobike-in">    
      <img src="assets/img/logo-ekobike.png">
  </div>
    <!-- <div id="viewDiv" #map></div> -->
  <div class="content-map">
    <div class="ui grid content-play">
      <div class="column distance">
        <!-- <h5>Explora</h5>
        <h3 id="km">0</h3> -->
        <h4>Explora</h4>
      </div>
    </div>
    <div id="viewDiv" #map></div>
    <!-- <div class="chrono">
      <div class="time-elapsed">
        <h4>
          Tiempo Recorrido
        </h4>
        <h2 id=time>{{_horas}}:{{_minutos}}:{{_segundos}}.{{_centesimas}}</h2>
      </div>
      <div class="calories-co2">
        <div class="calories">
          <h4>
            Consumo de Calorías
          </h4>
          <h2>
            0
          </h2>
          <h5>
            Kcal
          </h5>
        </div>
        <div class="co2">
          <h4>
            CO2 Reducido
          </h4>
          <h2>
            0
          </h2>
          <h5>
            Kgr
          </h5>
        </div>
      </div>
      <div class="max-speed">
        <h4>
          Velocidad Máxima
        </h4>
        <h2>
          0
        </h2>
        <h5>
          Km/h
        </h5>
      </div>
    </div> -->
  </div>
</ion-content>