<ion-header color="secondary">
  <ion-toolbar>
    <ion-buttons slot>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="viewDiv" #map></div>
  <div class="degrade-green" style="height: 5px; width: 100%; margin-top: -4px;">
  </div>
  <ion-slides>
    <ion-slide>
      <!-- <div class="ui divided grid chrono">
        <div class="row">
          <div class="five wide column">
            <h4>Tiempo Recorrido</h4>
          </div>
          <div class="nine wide column">
            <h2>{{_horas}}:{{_minutos}}:{{_segundos}}.{{_centesimas}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="five wide column">
            <h4>Punto Actual</h4>
          </div>
          <div class="nine wide column">
            <h3>{{currentDirection}}</h3>
          </div>
        </div>
        <div class="content-button">
          <ion-button color="transparent" full outline class="ui button begin-activity" (click)="startRute()">{{estado}}</ion-button>
          <ion-button color="transparent" full outline class="ui button go-campaings" (click)="stopRute()">DETENER
            RECORRIDO
          </ion-button>
        </div>
      </div> -->
      <div class="ui grid" style="text-align: center; padding: 20px;">
        <div class="column data-rute degrade-green">
          <i class="stopwatch icon"></i>
          <h4>Tiempo Recorrido</h4>
        </div>
        <div class="column data-rute">
          <h2>{{_horas}}:{{_minutos}}:{{_segundos}}.{{_centesimas}}</h2>
        </div>
        <div class="column data-rute degrade-green">
          <i class="map marker alternate icon"></i>
          <h4>Punto Actual</h4>
        </div>
        <div class="column data-rute">
          <h3>{{currentDirection}}</h3>
        </div>
        <div class="column data-button">
          <ion-button color="transparent" full outline class="ui button begin-activity" (click)="startRute()">{{estado}}</ion-button>
        </div>
        <div class="column data-button">
          <ion-button color="transparent" full outline class="ui button go-campaings" (click)="stopRute()">DETENER RECORRIDO </ion-button>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="ui grid" style="text-align: center; padding: 20px;">
        <div class="column data-rute degrade-green">
          <i class="icon-stats-dots"></i>
          <h4>
            Estás Generado
          </h4>
        </div>
        <div class="column data-rute">
          <h2>
            $ {{ingresos}}
          </h2>
        </div>
        <div class="column data-rute degrade-orange">
          <i class="icon-map"></i>
          <h4>
            Has Recorrido
          </h4>
        </div>
        <div class="column data-rute">
          <h2>
            <span id="km">{{km}}</span><small> KM</small>
          </h2>
        </div>
        <div class="column data-rute degrade-blue">
          <i class="icon-heart"></i>
          <h4>
            Has Consumido
          </h4>
        </div>
        <div class="column data-rute">
          <h2>
            <small>{{cal}} Kcal</small>
          </h2>
        </div>
        <div class="column data-rute degrade-violet">
          <i class="icon-stats-bars"></i>
          <h4>
            Campaña Actual
          </h4>
        </div>
        <div class="column data-rute">
          <h2>
            Prueba
          </h2>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <!-- <hr class="degrade-orange" style="height: 5px; width: 100%; border: 0; margin-top: 30px;"> -->
</ion-content>