#viewDiv {
  padding: 0;
  margin: 0;
  height: 50%;
  width: 100%;
}
.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  height: 34%;
  background: #001434;
}
.esri-widget--button{
  background-color: #f9b410 !important;
  color: #001434 !important;
}
.esri-view .esri-directions {
  position: fixed;
  right: 15px;
}

.esri-view .esri-component.esri-attribution {
  position: fixed;
}
.esri-search__suggestions-list > li{
  padding: 1em;
}
.ui.grid{
  padding: 0px;
}