<ion-header>
  <ion-toolbar>
    <ion-title>subscribe-campaing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-publibike degrade-orange">
    <h2>INICIANDO NUEVO RECORRIDO</h2>
  </div>
  <h3 class="title-campaing">
    Vas a iniciar tu recorrido con la siguiente campaña:
  </h3>
  <div class="row logo-campaing">
      <div class="column">
        <img src="../img/logo-bancolombia.jpg">
      </div>
  </div>
  <div class="row begin-campaing">
      <div class="column">
        <div class="campaing-info">
          <h4>Campaña <small>"Mira los ahorros crecer"</small></h4>
        </div>
      </div>
      <div class="column">
        <div class="campaing-info">
          <h4>Zonas <small>Calle 72 - Calle 93</small></h4>
        </div>
      </div>
      <div class="column-full">
        <div class="campaing-info">
          <h4>Duración <small>15/01/20220 - 24/01/2020</small></h4>
        </div>
      </div>
      <div class="column">
        <h4>Pago por Km Hora Valle (9am - 3pm)<small>$2.000</small></h4>	        		
      </div>
      <div class="column">
        <h4>Pago por Km - Hora Pico (7am - 9am / 3pm - 7pm)<small>$2.000</small></h4>
      </div>
  </div>
  <div class="row begin-campaing">
      <div class="column-full">
        <div class="campaing-info">
          <h2>Instala la campaña</h2>
        </div>
      </div>
      <div class="column-full">
        <div class="campaing-info">
          <p>Para suscribirte a la campaña, debes instalar la publicidad en tu bici en alguno de los siguientes puntos:</p>
          <ul>
            <li>Cra 72 # 15 - 20</li>
            <li>Cra 90 # 35 - 30</li>
            <li>Cra 52 # 15 - 40</li>
            <li>Calle 93 # 7 - 20</li>
          </ul>
        </div>
      </div>
  </div>
 <a class="ui button begin-activity" href="main.html">ACEPTAR</a>


</ion-content>
