<ion-header>
  <ion-toolbar>
    <ion-buttons slot>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-publibike degrade-orange">
    <h2>INICIANDO NUEVO RECORRIDO</h2>
  </div>
  <h3 class="title-campaing">
    Vas a iniciar tu recorrido con la siguiente campaña:
  </h3>
  <div class="row logo-campaing" *ngIf="campaing">
    <div class="column">
      <img src="{{campaing.imagen}}">
    </div>
  </div>
  <div class="row begin-campaing">
    <div class="column">
      <div class="campaing-info">
        <h4>Campaña <small>{{campaing.nombre}}</small></h4>
      </div>
    </div>
    <div class="column">
      <div class="campaing-info">
        <h4>Zonas <small> {{campaing.zona}}</small></h4>
      </div>
    </div>
    <div class="column-full">
      <div class="campaing-info">
        <h4>Duración <small>{{campaing.fecha_inicio}} - {{campaing.fecha_final}}</small></h4>
      </div>
    </div>
    <div class="column">
      <h4>Pago por Km <small>{{campaing.pago_km}}</small></h4>
    </div>
  </div>
  <ion-button color="transparent" full outline class="ui button begin-activity" (click)="registerToCampaing()">ACEPTAR
  </ion-button>
</ion-content>