<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A354F335A6EA9B71AE2EA88FFBC71DCC14F7E14</string>
				<key>dateExpires</key>
				<string>30/11/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A354F335A6EA9B71AE2EA88FFBC71DCC14F7E14</string>
						<key>dateExpires</key>
						<string>30/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7RXU94XJMR</string>
						<key>name</key>
						<string>Geo Geeks</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A354F335A6EA9B71AE2EA88FFBC71DCC14F7E14</string>
						<key>dateExpires</key>
						<string>30/11/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7RXU94XJMR</string>
						<key>name</key>
						<string>Geo Geeks</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7RXU94XJMR.com.publibike.bienestar</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7RXU94XJMR</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>7RXU94XJMR.com.publibike.bienestar</string>
				</array>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>12310e43-cf07-44d5-8228-86a7606eb5a8</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7RXU94XJMR</string>
				<key>name</key>
				<string>Geo Geeks</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
