h2{
    color: #01D9AD;
}
h4, ion-label, ion-input {
    color:#606060!important;
}
.PaddingSpecial{
    margin-left: 10px;
}
:host(.button-full:not(.button-round)) .button-native {
    border-radius: 10px!important;
}
ion-button{
    --border-radius: 30px;
}
ion-select {
    /* Applies to the value and placeholder color */
    color: #000000;
  
    /* Set a different placeholder color */
    --placeholder-color: #606060;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }
