h2{
    font-size: 15px;
    color: var(--ion-color-secondary);
}
p{
    font-size: 15px;
    color:var(--ion-color-tertiary);
}
.logo-ekobike-in {
    position: unset;
    margin-bottom: 30px;
    margin-top: 20px;
}