<ion-content>
  <div class="logo-ekobike-in">
    <img src="assets/img/logo-ekobike.png">
  </div>
  <h2 class="title-section"><i class="icon-trophy"></i>Reconocimientos</h2>
  <div class="prize-content">
    <h1 class="title-section" >Movilidad Limpia</h1>
    <ion-slides  *ngIf="movilidad.length">
      <ion-slide *ngFor="let reconocimiento of movilidad">
        <ion-avatar (click)="showRecognition(reconocimiento)">
          <!-- <img [src]="artist.images[0].url" /> -->
          <ion-icon text-center color="secondary" class="icon-tools-2"></ion-icon>
          <!-- <span>{{ artist.name }}</span> -->
        </ion-avatar>
      </ion-slide>
    </ion-slides>
    <h1 class="title-section" >Bienestar</h1>
    <ion-slides  *ngIf="bienestar.length">
      <ion-slide *ngFor="let reconocimiento of bienestar">
        <ion-avatar (click)="showRecognition(reconocimiento)">
          <!-- <img [src]="artist.images[0].url" /> -->
          <ion-icon text-center color="secondary" class="icon-tools-2"></ion-icon>
          <!-- <span>{{ artist.name }}</span> -->
        </ion-avatar>
      </ion-slide>
    </ion-slides>
    <h1 class="title-section" >Alianzas</h1>
    <ion-slides *ngIf="alianzas.length">
      <ion-slide *ngFor="let reconocimiento of alianzas">
        <ion-avatar (click)="showRecognition(reconocimiento)">
          <!-- <img [src]="artist.images[0].url" /> -->
          <ion-icon text-center color="secondary" class="icon-tools-2"></ion-icon>
          <!-- <span>{{ artist.name }}</span> -->
        </ion-avatar>
      </ion-slide>
    </ion-slides>
    <h1 class="title-section" >Ocio</h1>
    <ion-slides *ngIf="ocio.length">
      <ion-slide *ngFor="let reconocimiento of ocio">
        <ion-avatar (click)="showRecognition(reconocimiento)">
          <!-- <img [src]="artist.images[0].url" /> -->
          <ion-icon text-center color="secondary" class="icon-tools-2"></ion-icon>
          <!-- <span>{{ artist.name }}</span> -->
        </ion-avatar>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>