.logo-ekobike-in {
    position: unset;
    margin-bottom: 30px;
    margin-top: 20px;
}
ion-avatar {
    height: 120px;
    width: 90%;
  }
  ion-avatar img {
    width: 90px;
    height: 90px;
  }
  ion-icon{
    font-size: 75px;
	display: block;
	margin-bottom: 10px;
  }
  ion-avatar span {
    font-size: 16px;
    color: #ffffff;
  }
  h1{
      color: var(--ion-color-tertiary)
  }