img {
    width: 30%;
    text-align: center;
}

ion-title {
    text-align: center;
}
h2 {
    color: #01d9ad;
}
h4,
ion-label,
ion-input {
    color: #606060 !important;
}
ion-button {
    color: #01d9ad;
}
