img {
    width: 30%;
    text-align: center;
}

ion-title {
    text-align: center;
}
h2 {
    color: #01d9ad;
}
h4,
ion-label,
ion-input {
    color: #606060 !important;
}
ion-button {
    color: #01d9ad;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #000000;
  
    /* Set a different placeholder color */
    --placeholder-color: #606060;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }
